In [3]:
# 1. Load the dataset and explore the variables.
import pandas as pd

churnData = pd.read_csv('customer_churn-Copy1.csv')
churnData.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
#2. We will try to predict variable Churn using a logistic regression on variables tenure, SeniorCitizen,MonthlyCharges.

churnData['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [8]:
X = churnData[['tenure', 'SeniorCitizen','MonthlyCharges']]
X

      tenure  SeniorCitizen  MonthlyCharges
0          1              0           29.85
1         34              0           56.95
2          2              0           53.85
3         45              0           42.30
4          2              0           70.70
...      ...            ...             ...
7038      24              0           84.80
7039      72              0          103.20
7040      11              0           29.60
7041       4              1           74.40
7042      66              0          105.65

[7043 rows x 3 columns]

In [9]:
#3. Extract the target variable.
Y = pd.DataFrame(data=churnData, columns=['Churn'])
Y

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 1 columns]

In [12]:
#4. Extract the independent variables and scale them.

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.linear_model import LogisticRegression

transformer = StandardScaler().fit(X)
scaled_x = transformer.transform(X)

In [17]:
#5. Build the logistic regression model.

classification = LogisticRegression().fit(scaled_x, Y)

C:\Users\josep\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
#6. Evaluate the model.

classification.score(scaled_x, Y)

0.7911401391452506

#7. Even a simple model will give us more than 70% accuracy. Why?

Overall, while it's not guaranteed that a simple logistic regression model will achieve more than 70% accuracy, it is certainly possible if the data and model are properly prepared and optimized.

In [19]:
#8. Synthetic Minority Oversampling TEchnique (SMOTE) 
#is an over sampling technique based on nearest neighbors that adds new points between existing points. 
#Apply imblearn.over_sampling.SMOTE to the dataset. 
#Build and evaluate the logistic regression model. Is it there any improvement?

from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import pandas as pd

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [21]:
sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [22]:
lr = LogisticRegression(random_state=42)
lr.fit(X_train_res, y_train_res)

C:\Users\josep\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=42)

In [23]:
y_pred = lr.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       0.88      0.73      0.80      1539
         Yes       0.51      0.74      0.60       574

    accuracy                           0.73      2113
   macro avg       0.70      0.74      0.70      2113
weighted avg       0.78      0.73      0.75      2113

In [27]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
acc_smote = accuracy_score(y_test, y_pred)

print("Accuracy Score: {:.2f}".format(acc_smote))

Accuracy Score: 0.73