In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from imblearn.over_sampling import SMOTE
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
import warnings
warnings.filterwarnings("ignore")

In [65]:
customer_churn=pd.read_csv(r"C:\Users\Utilizador\Desktop\Ironhack 2\Imbalanced Data\lab-imbalanced-data\files_for_lab\customer_churn.csv")
customer_churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [66]:
customer_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [67]:
customer_churn.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [68]:
y = customer_churn['Churn']

In [69]:
X = customer_churn[['tenure', 'SeniorCitizen', 'MonthlyCharges']]

In [70]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(X)
standardized_data = pd.DataFrame(standardized_data, columns=X.columns)
standardized_data

        tenure  SeniorCitizen  MonthlyCharges
0    -1.277445      -0.439916       -1.160323
1     0.066327      -0.439916       -0.259629
2    -1.236724      -0.439916       -0.362660
3     0.514251      -0.439916       -0.746535
4    -1.236724      -0.439916        0.197365
...        ...            ...             ...
7038 -0.340876      -0.439916        0.665992
7039  1.613701      -0.439916        1.277533
7040 -0.870241      -0.439916       -1.168632
7041 -1.155283       2.273159        0.320338
7042  1.369379      -0.439916        1.358961

[7043 rows x 3 columns]

In [71]:
X_train, X_test, y_train, y_test = train_test_split(standardized_data, y, test_size=0.2, random_state=42)

In [72]:
LR = LogisticRegression()
LR.fit(X_train, y_train)

LR.score(X_test, y_test)

accuracy = LR.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.8076650106458482

In [73]:
y_pred = LR.predict(X_test)
precision = precision_score(y_test, y_pred, average='weighted', pos_label='Yes')
recall = recall_score(y_test, y_pred, average='weighted', pos_label='Yes')
f1 = f1_score(y_test, y_pred, average='weighted', pos_label='Yes')
conf_matrix = confusion_matrix(y_test, y_pred)

print("precision: ", precision)
print("recall: ", recall)
print("f1: ", f1)
print(classification_report(y_test, y_pred))

precision:  0.7966982903781404
recall:  0.8076650106458482
f1:  0.7954710914954678
              precision    recall  f1-score   support

          No       0.83      0.92      0.88      1036
         Yes       0.70      0.49      0.57       373

    accuracy                           0.81      1409
   macro avg       0.76      0.70      0.72      1409
weighted avg       0.80      0.81      0.80      1409

In [74]:
sm = SMOTE(random_state =0,sampling_strategy=1)
X_train_SMOTE,y_train_SMOTE = sm.fit_resample(X_train,y_train)

In [77]:
LR = LogisticRegression()
LR.fit(X_train_SMOTE, y_train_SMOTE)
pred = LR.predict(X_test)

conf_matrix = confusion_matrix(y_test, y_pred)
print("precision: ", precision_score(y_test, pred, pos_label='Yes'))
print("recall: ", recall_score(y_test, pred, pos_label='Yes'))
print("f1: ", f1_score(y_test, pred, pos_label='Yes'))

print(classification_report(y_test, pred))

precision:  0.5107142857142857
recall:  0.7667560321715817
f1:  0.6130760986066451
              precision    recall  f1-score   support

          No       0.90      0.74      0.81      1036
         Yes       0.51      0.77      0.61       373

    accuracy                           0.74      1409
   macro avg       0.70      0.75      0.71      1409
weighted avg       0.80      0.74      0.76      1409