In [1]:
!pip install pandas
!pip install numpy matplotlib

Requirement already satisfied: pandas in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tracy\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\tracy\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (1.26.1)
Requirement already satisfied: matplotlib in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.45.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tracy\appdata\roaming\python\python312\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tracy\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tracy\appdata\roaming\python\python312\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tracy\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [3]:
cust_churn = pd.read_csv(r'C:\Users\Tracy\Desktop\Class1IR\Cleaning_categorical_Data\Imbalance_data\lab-imbalanced-data\customer_churn.csv')
cust_churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
# lest groupby the target variable 

cust_churn.groupby('Churn').count()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
Churn,,,,,,,,,,,,,,,,,,,,
No,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174
Yes,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869

In [5]:


# Selecting the target variable  and variable to define the model

cust_reg = cust_churn[['tenure', 'SeniorCitizen','MonthlyCharges','Churn']]

cust_reg

      tenure  SeniorCitizen  MonthlyCharges Churn
0          1              0           29.85    No
1         34              0           56.95    No
2          2              0           53.85   Yes
3         45              0           42.30    No
4          2              0           70.70   Yes
...      ...            ...             ...   ...
7038      24              0           84.80    No
7039      72              0          103.20    No
7040      11              0           29.60    No
7041       4              1           74.40   Yes
7042      66              0          105.65    No

[7043 rows x 4 columns]

In [6]:
from sklearn.linear_model import LogisticRegression

X = cust_reg.drop('Churn',axis = 1 )
y = cust_reg['Churn']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split(X,y, random_state = 42, test_size = 0.2)

LR = LogisticRegression()


LR.fit(X_train,y_train)

LR.score(X_test,y_test) # this is the accuracy

0.8055358410220014

In [7]:
# separating feature and target variable 


cust_3 = cust_reg[['tenure', 'SeniorCitizen','MonthlyCharges']]

cust_reg['Churn'] = np.where(cust_reg['Churn'] == 'Yes', 1, 0)

churn = cust_reg['Churn']

churn

C:\Users\Tracy\AppData\Local\Temp\ipykernel_19760\4150164733.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_reg['Churn'] = np.where(cust_reg['Churn'] == 'Yes', 1, 0)

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int32

In [8]:
from sklearn.preprocessing import MinMaxScaler
# exctract and scale features then change it to a Data Frame



scaler = MinMaxScaler()
scaled = scaler.fit_transform(cust_3)
scaled_df = pd.DataFrame(scaled, columns=cust_3.columns)

scaled_df

        tenure  SeniorCitizen  MonthlyCharges
0     0.013889            0.0        0.115423
1     0.472222            0.0        0.385075
2     0.027778            0.0        0.354229
3     0.625000            0.0        0.239303
4     0.027778            0.0        0.521891
...        ...            ...             ...
7038  0.333333            0.0        0.662189
7039  1.000000            0.0        0.845274
7040  0.152778            0.0        0.112935
7041  0.055556            1.0        0.558706
7042  0.916667            0.0        0.869652

[7043 rows x 3 columns]

In [9]:
# create a data Frame 

cust_scale = pd.concat([scaled_df, churn], axis = 1)

cust_scale

        tenure  SeniorCitizen  MonthlyCharges  Churn
0     0.013889            0.0        0.115423      0
1     0.472222            0.0        0.385075      0
2     0.027778            0.0        0.354229      1
3     0.625000            0.0        0.239303      0
4     0.027778            0.0        0.521891      1
...        ...            ...             ...    ...
7038  0.333333            0.0        0.662189      0
7039  1.000000            0.0        0.845274      0
7040  0.152778            0.0        0.112935      0
7041  0.055556            1.0        0.558706      1
7042  0.916667            0.0        0.869652      0

[7043 rows x 4 columns]

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

from sklearn.metrics import classification_report # confusuiom matrix

# Here we want to maximize recall





X = cust_scale.drop('Churn',axis = 1 )
y = cust_scale['Churn']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split(X,y, random_state = 42, test_size = 0.2)

LR = LogisticRegression()


LR.fit(X_train,y_train)

LR.score(X_test,y_test) # this is the accuracy

# this model give us more than 70% of accurancy bcs even if the model is not perfect he will easely get rigth 80 of the data

0.8041163946061036

In [11]:
# whoile accurancy , lets check how other eval ametric work
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

from sklearn.metrics import classification_report # confusuiom matrix

# Here we want to maximize recall

LR.fit(X_train,y_train)

pred = LR.predict(X_test)

pred

print('precision is :', precision_score(y_test,pred))
print('recall is :', recall_score(y_test,pred))
print('f1 is :', f1_score(y_test,pred))

print(classification_report(y_test,pred))

precision is : 0.6932270916334662
recall is : 0.46648793565683644
f1 is : 0.5576923076923076
              precision    recall  f1-score   support

           0       0.83      0.93      0.87      1036
           1       0.69      0.47      0.56       373

    accuracy                           0.80      1409
   macro avg       0.76      0.70      0.72      1409
weighted avg       0.79      0.80      0.79      1409

In [12]:
from sklearn.metrics import confusion_matrix # confusuiom matrix

confusion_matrix(y_test,pred)

array([[959,  77],
       [199, 174]], dtype=int64)

In [ ]:
# Apply imblearn.over_sampling.SMOTE to the dataset. 
# Build and evaluate the logistic regression model. Is it there any improvement?

In [13]:
from imblearn.over_sampling import SMOTE
X = cust_scale.drop('Churn',axis = 1 )
y = cust_scale['Churn']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split(X,y, random_state = 42, test_size = 0.2)

# by default the SMOTE method used the 5 NN

sm = SMOTE(random_state=0,sampling_strategy = 1.0) # we open SMOTE model
X_train_SMOTE, y_train_SMOTE = sm.fit_resample(X_train,y_train)

# create the model
# define 
train_smote = pd.concat([X_train_SMOTE])

In [14]:
train_smote = pd.concat([X_train_SMOTE,y_train_SMOTE], axis = 1)
train_smote
train_smote.sum()

tenure            3217.657474
SeniorCitizen     1556.000000
MonthlyCharges    4096.979906
Churn             4138.000000
dtype: float64

In [16]:
# whoile accurancy , lets check how other eval ametric work
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

from sklearn.metrics import classification_report # confusuiom matrix

# Here we want to maximize recall

LR.fit(X_train_SMOTE,y_train_SMOTE)

pred = LR.predict(X_test)

pred

print('precision is :', precision_score(y_test,pred))
print('recall is :', recall_score(y_test,pred))
print('f1 is :', f1_score(y_test,pred))

print(classification_report(y_test,pred))

# recall is much better with the SMOT model evaluating the recall churn accurate 77 % of the time instead of 47 for previous model

precision is : 0.5107142857142857
recall is : 0.7667560321715817
f1 is : 0.6130760986066451
              precision    recall  f1-score   support

           0       0.90      0.74      0.81      1036
           1       0.51      0.77      0.61       373

    accuracy                           0.74      1409
   macro avg       0.70      0.75      0.71      1409
weighted avg       0.80      0.74      0.76      1409