In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [21]:
imb = pd.read_csv(r"C:\Users\HP\Desktop\Iron Hack\Python\Labs\lab-imbalanced-data\files_for_lab\customer_churn.csv")
imb

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [23]:
imb.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [24]:
categorical = imb.select_dtypes(include='object')
categorical

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,108.15,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),1840.75,No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,1990.5,No
7039,2234-XADUH,Female,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),7362.9,No
7040,4801-JZAZL,Female,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,346.45,No
7041,8361-LTMKD,Male,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,306.6,Yes
7042,3186-AJIEK,Male,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),6844.5,No

In [25]:
numerical = imb.select_dtypes(exclude='object')
numerical

      SeniorCitizen  tenure  MonthlyCharges
0                 0       1           29.85
1                 0      34           56.95
2                 0       2           53.85
3                 0      45           42.30
4                 0       2           70.70
...             ...     ...             ...
7038              0      24           84.80
7039              0      72          103.20
7040              0      11           29.60
7041              1       4           74.40
7042              0      66          105.65

[7043 rows x 3 columns]

In [27]:
Q1 = numerical.quantile(0.25)
Q3 = numerical.quantile(0.75)
IQR = Q3 - Q1

is_outlier = (numerical < (Q1 - 1.5 * IQR)) | (numerical > (Q3 + 1.5 * IQR))

outliers = numerical[is_outlier.any(axis=1)]
print("\nOutliers detected by IQR method:\n", outliers)

imb_no_outliers = numerical[~is_outlier.any(axis=1)]
print("\nDataFrame after removing outliers:\n", imb_no_outliers)

Outliers detected by IQR method:
       SeniorCitizen  tenure  MonthlyCharges
20                1       1           39.65
30                1      71           96.35
31                1       2           95.50
34                1       1           45.25
50                1      43           90.25
...             ...     ...             ...
7023              1      63          103.50
7029              1       6           44.40
7031              1      55           60.00
7032              1       1           75.75
7041              1       4           74.40

[1142 rows x 3 columns]

DataFrame after removing outliers:
       SeniorCitizen  tenure  MonthlyCharges
0                 0       1           29.85
1                 0      34           56.95
2                 0       2           53.85
3                 0      45           42.30
4                 0       2           70.70
...             ...     ...             ...
7037              0      72           21.15
7038              0      24           84.80
7039              0      72          103.20
7040              0      11           29.60
7042              0      66          105.65

[5901 rows x 3 columns]

In [28]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

imb_normalized = pd.DataFrame(scaler.fit_transform(numerical), columns=numerical.columns)


print("\nMin-Max Normalized DataFrame:")
print(imb_normalized.head())

Min-Max Normalized DataFrame:
   SeniorCitizen    tenure  MonthlyCharges
0            0.0  0.013889        0.115423
1            0.0  0.472222        0.385075
2            0.0  0.027778        0.354229
3            0.0  0.625000        0.239303
4            0.0  0.027778        0.521891

In [31]:
imb_encoded = pd.get_dummies(categorical.drop(["customerID"], axis = 1), drop_first=True)
imb_encoded

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,Churn_Yes
0,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,True,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,True,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,True,True,True,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
7039,False,True,True,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,False,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
7041,True,True,False,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
7042,True,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [35]:
from sklearn.model_selection import train_test_split

# Split features and target variable
X = imb_encoded.drop('Churn_Yes',axis = 1)
y = imb_encoded['Churn_Yes']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

LR = LogisticRegression()
LR.fit(X_train, y_train)

pred = LR.predict(X_test)

print("Accuracy: ",LR.score(X_test, y_test))

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy:  0.8041163946061036
precision:  0.6456456456456456
recall:  0.5764075067024129
f1:  0.6090651558073655

## Oversampling

In [42]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[918, 118],
       [158, 215]], dtype=int64)

In [43]:
from sklearn.utils import resample

In [44]:
train = pd.concat([X_train, y_train],axis=1)
display(train.shape)
train.head()

(5634, 6557)

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,Churn_Yes
2142,False,False,True,True,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1623,False,False,False,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6074,True,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1362,True,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6754,True,False,True,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [45]:
no_diabetes = train[train['Churn_Yes']==0]
yes_diabetes = train[train['Churn_Yes']==1]

display(no_diabetes.shape)
display(yes_diabetes.shape)

(4138, 6557)

(1496, 6557)

In [46]:
yes_diabetes_oversampled = resample(yes_diabetes,
                                    replace=True, 
                                    n_samples = len(no_diabetes),
                                    random_state=0)


display(no_diabetes.shape)
display(yes_diabetes_oversampled.shape)

(4138, 6557)

(4138, 6557)

In [47]:
train_oversampled = pd.concat([no_diabetes,yes_diabetes_oversampled])
train_oversampled.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,Churn_Yes
2142,False,False,True,True,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1623,False,False,False,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6754,True,False,True,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1212,True,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2722,True,True,True,True,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False

In [48]:
y_train_over = train_oversampled['Churn_Yes']
X_train_over = train_oversampled.drop('Churn_Yes',axis = 1)

In [49]:
LR = LogisticRegression(max_iter = 1000)
LR.fit(X_train_over, y_train_over)
pred = LR.predict(X_test)

print("Accuracy: ",LR.score(X_test, y_test))

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

print(classification_report(y_test, pred))

Accuracy:  0.7650816181689141
precision:  0.5390334572490706
recall:  0.7774798927613941
f1:  0.6366630076838639
              precision    recall  f1-score   support

       False       0.90      0.76      0.83      1036
        True       0.54      0.78      0.64       373

    accuracy                           0.77      1409
   macro avg       0.72      0.77      0.73      1409
weighted avg       0.81      0.77      0.78      1409

In [50]:
confusion_matrix(y_test,pred)

array([[788, 248],
       [ 83, 290]], dtype=int64)

## Undersampling

In [52]:
no_diabetes = train[train['Churn_Yes']==0]
yes_diabetes = train[train['Churn_Yes']==1]

In [53]:
no_diabetes_undersampled = resample(no_diabetes,
                                    replace=False,
                                    n_samples = len(yes_diabetes),
                                    random_state=0)

In [54]:
display(yes_diabetes.shape)
display(no_diabetes_undersampled.shape)

(1496, 6557)

(1496, 6557)

In [55]:
train_undersampled = pd.concat([yes_diabetes,no_diabetes_undersampled])
train_undersampled.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,Churn_Yes
6074,True,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1362,True,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6791,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5852,True,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1032,False,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [56]:
y_train_under = train_undersampled['Churn_Yes']
X_train_under = train_undersampled.drop('Churn_Yes',axis = 1)

In [57]:
LR = LogisticRegression(max_iter = 1000)
LR.fit(X_train_under, y_train_under)
pred = LR.predict(X_test)

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

print(classification_report(y_test, pred))

precision:  0.49198717948717946
recall:  0.8230563002680965
f1:  0.6158475426278837
              precision    recall  f1-score   support

       False       0.92      0.69      0.79      1036
        True       0.49      0.82      0.62       373

    accuracy                           0.73      1409
   macro avg       0.70      0.76      0.70      1409
weighted avg       0.80      0.73      0.74      1409

In [58]:
confusion_matrix(y_test,pred)

array([[719, 317],
       [ 66, 307]], dtype=int64)