In [1]:
#Lab | Imbalanced data
#We will be using the files_for_lab/customer_churn.csv dataset to build a churn predictor.

#Instructions
#Load the dataset and explore the variables.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('customer_churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [5]:
(data.isna().sum()/len(data)).sort_values(ascending=False)

customerID          0.0
DeviceProtection    0.0
TotalCharges        0.0
MonthlyCharges      0.0
PaymentMethod       0.0
PaperlessBilling    0.0
Contract            0.0
StreamingMovies     0.0
StreamingTV         0.0
TechSupport         0.0
OnlineBackup        0.0
gender              0.0
OnlineSecurity      0.0
InternetService     0.0
MultipleLines       0.0
PhoneService        0.0
tenure              0.0
Dependents          0.0
Partner             0.0
SeniorCitizen       0.0
Churn               0.0
dtype: float64

In [6]:
data['SeniorCitizen'].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

In [7]:
data['MonthlyCharges'].isnull().value_counts()

False    7043
Name: MonthlyCharges, dtype: int64

In [ ]:
#We will try to predict variable Churn using a logistic regression on variables tenure, SeniorCitizen,MonthlyCharges.

In [27]:
X = data[['tenure','SeniorCitizen','MonthlyCharges']]

#Extract the target variable.
y = data['Churn']

In [30]:
X.head()

   tenure  SeniorCitizen  MonthlyCharges
0       1              0           29.85
1      34              0           56.95
2       2              0           53.85
3      45              0           42.30
4       2              0           70.70

In [33]:
#Extract the independent variables and scale them.
import numpy as np 
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X)
x_normalized =  transformer.transform(X)
x = pd.DataFrame(x_normalized)
x.columns = X.columns
x.head()

     tenure  SeniorCitizen  MonthlyCharges
0  0.033482            0.0        0.999439
1  0.512610            0.0        0.858622
2  0.037115            0.0        0.999311
3  0.728628            0.0        0.684910
4  0.028277            0.0        0.999600

In [31]:
y.head()

0     No
1     No
2    Yes
3     No
4    Yes
Name: Churn, dtype: object

In [34]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.4)

In [35]:
#Build the logistic regression model.
from sklearn.linear_model import LogisticRegression
classificaion = LogisticRegression().fit(X_train,y_train)

In [36]:
predictions = classificaion.predict(X_test)
predictions

array(['No', 'No', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [37]:
classificaion.score(X_test,y_test)

0.7849538679914834

In [38]:
y_test.value_counts()

No     2064
Yes     754
Name: Churn, dtype: int64

In [39]:
pd.Series(predictions).value_counts()

No     2264
Yes     554
dtype: int64

In [40]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[1861,  203],
       [ 403,  351]], dtype=int64)

In [ ]:


#Even a simple model will give us more than 70% accuracy. Why?
#Synthetic Minority Oversampling TEchnique (SMOTE) is an over sampling technique based on nearest neighbors that adds new points between existing points. Apply imblearn.over_sampling.SMOTE to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?